{% extends "base.html" %}
{% block title %}Create Drive{% endblock %}

{% block content %}
<div class="container py-4">
    <h3 class="fw-bold mb-4">Create Placement Drive</h3>

    <div class="card p-4 rounded-4 shadow-sm border-0">
        <form method="POST">
            <div class="mb-3">
                <label class="form-label fw-bold">Title</label>
                <input type="text" name="title" class="form-control" required>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Description</label>
                <textarea name="description" class="form-control" rows="4"></textarea>
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Eligibility</label>
                <input type="text" name="eligibility" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label fw-bold">Deadline</label>
                <input type="date" name="deadline" class="form-control" required>
            </div>

            <button class="btn btn-dark btn-lg">Create Drive</button>
        </form>
    </div>
</div>
{% endblock %}
